@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Wix+Madefor+Display:wght@400;600;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: Lora, serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}

h1, h2, h3{
	font-family: Wix, sans-serif;
	font-weight: lighter;
}

a{
	text-decoration: none;
	color: black;
}